.dashboard-container {
  display: flex;
  background-color: #0a0a0a;
  background-image: radial-gradient(#333 1px,transparent 1px);
  background-size: 20px 20px;
  color: white;
  min-height: 100vh;
  font-family: sans-serif;
}

.sidebar {
  width: 220px;
  padding: 30px 20px;
  border-right: 1px solid #333;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #f96a0a;
  margin-bottom: 40px;
}

.nav-item {
  padding: 12px;
  color: #faf7f7;
  cursor: pointer;
  margin-bottom: 5px;
}



.main-content {
  flex: 1;
  padding: 50px 80px;
}

.workspace-label {
  color: #ff8a65;
  font-size: 11px;
  letter-spacing: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-family: serif;
  font-size: 48px;
  margin: 5px 0 0 0;
}

.add-link-btn {
  background-color: #fb6f05;
  border: none;
  padding:20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.link-card {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #f95306;
}

.card-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-box {
  width: 45px;
  height: 45px;
  background-color: #ddd;
  border-radius: 8px;
}

.text-info h3 { margin: 0; font-size: 18px; }
.text-info p { margin: 4px 0 0 0; color: #888; font-size: 14px; }

.card-right {
  display: flex;
  gap: 10px;
}

button.edit-btn, button.delete-btn {
  background: #333;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

button.delete-btn:hover {
  background: #ef4444;
}

button.edit-btn:hover {
  background: #444;
}
.btn{
  padding: 10px;
  background-color: #f96a0a;
}