
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #0a0a0a;
  background-image: radial-gradient(#333 1px,transparent 1px);
  background-size: 20px 20px;
  
}

.form-container {
  background-color:#1a1614;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  border: 1px solid whitesmoke;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-toggle button {
  width: 50%;
  padding: 15px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px;
}

.form-toggle .active {
  background-color: #f07721;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid #f96706;
  border-radius: 5px;
  background-color: #562e11;
}

.form button {
  padding: 10px;
  background-color:#f07721;
  color: white;
  border: none;
  border-radius:5px;
  cursor: pointer;
}

.form a {
  color: #f07721;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
}

.form p {
  text-align: center;
  color: aliceblue;
}
.title{
  text-align: center;
  color: #f07721;
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px rgba(242, 80, 5, 0.5);
}